.diplome
    display: flex
    align-items: center
    gap: 2rem
    .diplome-logo
        max-width: 6rem
        max-height: 6rem
        border-radius: 100%

.diplome-title
    margin-bottom: 0.5rem
    font-size: 1.8rem

.diplome-subtitle
    margin-bottom: 0.7rem
    font-weight: bold

.diplome-date
    font-style: italic
