.section-display
    display: flex
    margin-bottom: 10rem
    flex-direction: column
    @media screen and (min-width: 768px)
        &.left-text-content
            flex-direction: row
        .illustration
            padding-left: 5rem

.text-content
    display: flex
    flex: 1
    flex-direction: column
    justify-content: center

.title
    margin-bottom: 2rem
    font-weight: 700
    line-height: 1.1
    font-size: 2rem
    @media screen and (min-width: 768px)
        font-size: 3.5rem

.paragraph
    margin-bottom: 2rem
    font-size: 1rem
    @media screen and (min-width: 768px)
        font-size: 1.4rem
        line-height: 1.6rem

.illustration
    flex: 1
    .illustration-image
        max-width: 100%
        display: block
        object-fit: contain
        margin: auto
